// =========================
/* BOTONES*/
// =========================

/* Boton 1 */

.btn1 {
  background: $color13;
  font-family: $fontfam1;
  font-size: $fontsizess;
  color: $color1 !important;
  font-weight: 500;
  padding: 0.6rem 0.8rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  @media (min-width: $minwqlarge) {
    font-size: $fontsizess;
  }
}

.btn1:hover {
  filter: contrast(120%);
}

/* Boton 2 */

.btn2 {
  background: $color1;
  font-family: $fontfam1;
  font-size: $fontsizess;
  color: $color5 !important;
  font-weight: 500;
  padding: 0.6rem 0.8rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  @media (min-width: $minwqlarge) {
    font-size: $fontsizess;
  }
}

.btn2:hover {
  filter: contrast(120%);
}

/* Boton 3 */

.btn3 {
  background: $color5;
  font-family: $fontfam1;
  font-size: $fontsizess;
  color: $color1 !important;
  font-weight: 500;
  padding: 0.6rem 0.8rem;
  border-radius: 1.5rem;
  border: none;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  @media (min-width: $minwqlarge) {
    font-size: $fontsizess;
  }
}

.btn4:hover {
  filter: contrast(120%);
}

.btn4 {
  background: $color1;
  font-family: $fontfam1;
  font-size: $fontsizess;
  color: $color5 !important;
  font-weight: 500;
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  @media (min-width: $minwqlarge) {
    font-size: $fontsizess;
  }
}

.btn4:hover {
  color: $color13 !important;
  filter: contrast(120%);
}

.btn5 {
  background: $color19;
  font-family: $fontfam1;
  font-size: $fontsizess;
  color: $color5 !important;
  font-weight: 500;
  padding: 0.6rem 0.8rem;
  border-radius: 1.5rem;
  border: none;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  @media (min-width: $minwqlarge) {
    font-size: $fontsizess;
  }
}

.btn5:hover {
  filter: contrast(120%);
}

$conpt: 25px; // Padding top container
$conpb: 50px; //Padding bottom container
$maxwcsmall: 240.5px; //Max Width Container pantallas <576
$maxwcmed: 150px; // Max width container pantallas ≥768px
$maxwclarge: 415px;

// =========================
/* CONETENEDORES GENERALES PARA TODO EL SITIO*/
// =========================

//Mobile first <576px
.container-ya {
  width: auto;
  margin: 0 20px 0 20px;
  padding-top: $conpt;
  padding-bottom: $conpb;

  //Small ≥576px
  @media (min-width: $minwqsmall) {
    max-width: $maxwqsmall;
    margin: auto;
  }

  //Medium ≥768px
  @media (min-width: $minwqmed) {
    max-width: $maxwqmed;
  }

  //Large ≥992px
  @media (min-width: $minwqlarge) {
    max-width: $maxwqlarge;
  }

  //Extra large ≥1200px
  @media (min-width: $minwqxlarge) {
    max-width: $maxwqxlarge;
  }

  //Extra Extra Large ≥1400px

  @media (min-width: $minwqxxlarge) {
    max-width: $maxwqxxlarge;
  }
}
