// =========================
/* BOTONES*/
// =========================

/* Boton 1 */


.btn1 {
    background: linear-gradient(45deg, #f5d104 25%, #f1da08 100%);
    font-family:$fontfam1;
    font-size: $fontsizess;
    font-weight: 500;
    padding: 6px 10px;
    margin-top: 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;

    a {
        color: $color1 !important;
        text-decoration: none !important;
    }

    a:hover{
        color: $color1 !important;
    }

    @media (min-width: $minwqlarge) {
        font-size: $fontsizess;
    }
}

.btn1:hover {
    filter: contrast(115%);
    font-weight: 800;
}

/* Boton 2 */

.btn2 {
    background: $color1;
    font-family: $fontfam1;
    font-size: $fontsizess;
    font-weight: 700;
    padding: 0.5em 1.2em;
    margin-top: 15px;
    border-radius: 2em;
    border: none;
    cursor: pointer;

    a {
        color: $color3;
        text-decoration: none !important;
    }

    a:hover{
        color: $color3;
    }

    @media (min-width: $minwqlarge) {
        font-size: $fontsizels;
    }
}

.btn2:hover {
    filter: contrast(135%);
}

$conpt: 25px; // Padding top container
$conpb: 50px; //Padding bottom container
$maxwcsmall: 240.5px; //Max Width Container pantallas <576
$maxwcmed: 150px; // Max width container pantallas ≥768px
$maxwclarge: 415px;

// =========================
/* CONETENEDORES GENERALES PARA TODO EL SITIO*/
// =========================

//Mobile first <576px
.container-ya {
    width: auto;
    margin: 0 20px 0 20px;
    padding-top: $conpt;
    padding-bottom: $conpb;

    //Small ≥576px
    @media (min-width: $minwqsmall) {
        max-width: $maxwqsmall;
        margin: auto;

    }

    //Medium ≥768px
    @media (min-width: $minwqmed) {
        max-width: $maxwqmed;
    }

    //Large ≥992px
    @media (min-width: $minwqlarge) {
            max-width: $maxwqlarge;
    }

    //Extra large ≥1200px
    @media (min-width: $minwqxlarge) {
        max-width: $maxwqxlarge;
    }

    //Extra Extra Large ≥1400px

@media (min-width: $minwqxxlarge) {
        max-width: $maxwqxxlarge;
    }
}