// =========================
/* FOOTER YOLOARREGLO */
// =========================

.footer-yoloarreglo {
    display: block;
    background-color: $color5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23ECECEC' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23F1F1F1'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.footer__todo {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
    font-size: 0.8em;
}

.titulo-footer {
    color: $color1;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 10px;
}

.titulo-footer:after {
    content: "";
    width: 35px;
    height: 5px;
    background: $color13;
    left: 0px;
    right: 0px;
    bottom: 0;
    position: absolute;
    border-radius: 50px;
}

.titulo-footer2 {
    color: $color1;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 10px;
    text-align: center;
}

.titulo-footer2:after {
    content: "";
    width: 35px;
    height: 5px;
    background: $color13;
    left: 0px;
    right: 0px;
    bottom: 0;
    position: absolute;
    border-radius: 50px;
    margin: auto;
}

.seccion-footer {
    padding-bottom: 30px;
}

.seccion-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    outline: none;

    li {
        a {
            color: $color9;
            text-decoration: none;
        }

        a:hover {
            color: $color1 !important;
            font-weight: 600;
            transition: all 0.4s ease;
        }
    }
}

.footer p {
    color: var(--text-color-inverse);
}

.footer a {
    color: var(--text-color-inverse);
}

.footer h4 {
    color: var(--text-color-inverse);
}

.locaciones ul {
    list-style: none;
}

.footer-mobile {
    display: none;
}

.rss-footer {
    padding-top: 25px;
}

.rrss__logos {
    color: $color1;
}

/* Newsletter footer */

.widget-nl-footer {
    margin: auto;
    align-items: center;
}

.input-nl-footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: auto;
    max-width: 350px;
}

.search-form-control {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}

.input-group-nl {
    background-color: $color3;
    color: $color1;
    top: 0;
    left: 0;
    font-size: $fontsizess;
    font-weight: 500;
    max-width: 350px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

.input-nl-footer>.form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}