// =========================
/* INICIO - SECCIÓN 1 
https://preview.themeforest.net/item/clanora-cleaning-services-html5-template/full_screen_preview/34264843?_ga=2.263871433.491501574.1643039397-1321585728.1636602607&_gac=1.121541370.1641488116.Cj0KCQiAw9qOBhC-ARIsAG-rdn5m3iy3RS7Mon6z6OeCmMVm7gBn5CLoHkWHYdbsup7gTPbD7FbGZ_waAt7bEALw_wcB*/
// =========================

/* Sileder principal */

.back-principal {
  background: $color8, url(../imagenes/yla-limpieza1.jpg);
  background-size: cover;
  background-position: center;
}

.contenido-principal {
  h1 {
    color: $color5;
    font-size: 60px;
  }
}

/* Estilos somos expertos en arreglar */

.container-portada {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: auto;
  padding-bottom: 0;
}

/* Estilos texto para portada */

.portada {
  justify-content: space-around;
  width: 100%;
  margin: 0;

  h1 {
    color: $color5;
    font-size: $fontsizess + 20;
    text-align: left;
    margin: 0;
    font-family: $fontfam1;
    font-weight: 300;

    p {
      color: $color5;
      font-weight: 800;
    }
  }

  div {
    color: $color1;
    margin: 0;
    line-height: 1.3;
    animation-duration: 4s;
    animation-name: show;
    padding-top: 0.5em;

    @keyframes show {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    div {
      color: $color5;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
  }
}

// =========================
/* INICIO - SECCIÓN 2 */
// =========================

/* Estilos para  dar formato al texto */
.section-two-portada {
  div {
    color: $color1;
    font-family: $fontfam1;
  }
}

.comoFunciona-titulo {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.comoFunciona-1p {
  font-size: $fontsizess + 20px;
  margin-block-end: 0;
  margin-block-start: 0;
  line-height: 1.25;
  font-weight: 300;
}

.comoFunciona-2p {
  font-size: $fontsizess + 20px;
  margin-block-end: 0;
  margin-block-start: 0;
  line-height: 1.25;
  font-weight: 300;
}

.comoFunciona-3p {
  color: $color1;
  font-weight: 800;
}

.todoComoFunciona {
  text-align: center;
  margin: 0 !important;
  padding-bottom: 25px;

  strong {
    font-weight: 600;
  }
}

// =========================
/* INICIO - COTIZADOR */
// =========================
.espaciosRow {
  color: $color5;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  padding-right: 15px !important;
  padding-left: 5px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  min-width: 130px;
  margin-right: 0px !important;
}

.espaciosTitulo {
  font-family: $fontfam1;
  font-weight: 400;
  padding-right: 10px;
}

.selectoresEspacios {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 104px !important;
  height: 32px !important;
}

.menosEspacios {
  width: 32px !important;
  height: 32px !important;
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  cursor: pointer !important;
  display: inline-flex !important;
  margin: 0 !important;
  padding: 0 !important;
  text-align: center !important;
  text-decoration: none !important;
  border-width: 1.5px !important;
  border-style: solid !important;
  border-color: $color5 !important;
  color: $color5 !important;
  outline: none !important;
  touch-action: manipulation !important;
  align-items: center !important;
  justify-content: center !important;
  background: none !important;
  border-radius: 50% !important;
}

.mehSpan {
  height: 22px !important;
  width: 22px !important;
  padding: 5px !important;
}

.conteoHabitaciones {
  position: relative;
}

.masEspacios {
  width: 32px !important;
  height: 32px !important;
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  cursor: pointer !important;
  display: inline-flex !important;
  margin: 0 !important;
  padding: 0 !important;
  text-align: center !important;
  text-decoration: none !important;
  border-width: 1.5px !important;
  border-style: solid !important;
  border-color: $color5 !important;
  color: $color5 !important;
  outline: none !important;
  touch-action: manipulation !important;
  align-items: center !important;
  justify-content: center !important;
  background: none !important;
  border-radius: 50% !important;
}

.mahSpan {
  height: 22px !important;
  width: 22px !important;
  padding: 5px !important;
}

.desactivarBtn {
  cursor: not-allowed !important;
  border-color: $color15 !important;
  color: $color15 !important;
}

.form-cotizar {
  color: $color5 !important;
  background-color: $color1 !important;
  border-radius: 2rem !important;
}

// =========================
/* INICIO - SECCIÓN 3 */
// =========================

/* Estilos buscador de servicios */

.section-three-portada {
  background: $color8, url(../imagenes/hogar_perfecto.jpg);
  background-size: cover;
  background-position: center;
}

.contenedor-buscador {
  padding-top: 150px;
  padding-bottom: 150px;
}

.buscador-index {
  margin: auto;
  margin-bottom: 0 !important;
  align-items: center;
  max-width: 350px !important;
  padding-bottom: 25px;
}

.buscador-index-btn {
  margin: auto;
  align-items: center;
  max-width: 120px !important;
}

.height-buscador {
  height: auto;
}

// =========================
/* INICIO - BREAKING POINTS */
// =========================

/* Breaing points - Small 	≥576px */

@media (min-width: $minwqsmall) {
  // Sección 1 - Inicio
  .portada {
    h1 {
      font-size: $fontsizess + 35px;
      text-align: left;
    }

    div {
      strong {
        font-size: $fontsizess + 50px;
      }
    }
  }

  // Sección 2 - Como funciona
  .comoFunciona-titulo h3 {
    font-size: $fontsizess-t;
  }

  .comoFunciona-1p {
    font-size: $fontsizess + 28px;
  }

  .comoFunciona-2p {
    font-size: $fontsizess + 28px;
  }
}

/* Breaing points - Medium 	≥576px */

@media (min-width: $minwqmed) {
  .contenido-principal {
    h1 {
      font-size: 100px;
    }
  }

  // Sección 1 - Inicio
  .container-portada {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }

  .portada {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 45%;

    h1 {
      font-size: $fontsizels + 35px;
    }

    div {
      font-size: $fontsizels;

      strong {
        font-size: $fontsizels + 10px;
      }
    }
  }

  // Sección 2 - Como funciona
  .comoFunciona-1p {
    font-size: $fontsizels + 28px;
  }

  .comoFunciona-2p {
    font-size: $fontsizels + 28px;
  }
}

/* Breaing points - Large 	≥992px */

@media (min-width: $minwqlarge) {
  // Sección 1 - Inicio
  .portada {
    h1 {
      font-size: $fontsizels + 40px;
    }

    div {
      padding-bottom: 0;
    }
  }

  // Sección 2 - Como funciona
  .comoFunciona-1p {
    font-size: $fontsizels + 33px;
  }

  .comoFunciona-2p {
    font-size: $fontsizels + 33px;
  }
}

/* Breaing points - Extra Large ≥1200px */

@media (min-width: $minwqxlarge) {
  // Sección 1 - Inicio
  .portada {
    h1 {
      font-size: $fontsizels + 45px;
    }
  }

  // Sección 2 - Como funciona
  .comoFunciona-1p {
    font-size: $fontsizels + 40px;
  }

  .comoFunciona-2p {
    font-size: $fontsizels + 40px;
  }
}

/* Breaking points - Extra extra large ≥1400px*/

@media (min-width: $minwqxxlarge) {
  // Sección 1 - Inicio
  .portada {
    h1 {
      font-size: $fontsizels + 50px;
    }
  }

  // Sección 2 - Como funciona
  .comoFunciona-1p {
    font-size: $fontsizels + 45px;
  }

  .comoFunciona-2p {
    font-size: $fontsizels + 45px;
  }
}
